{% extends 'pollapp/base.html' %}
{% block title %} {{ uqchoice}} {% endblock title %}
{% load static %}

{% comment %} {% block mainlogo %} 
<div class="row" style="background:#fff;">
  <div class="col-12">
        <a class="" aria-current="page" style="height: auto; width: 12%;" href="/">
          <img src="{% static 'images/MdAmjadHosen.jpg' %}" class="img-fluid" style="padding: 0px; margin:0px;" alt="Nexus Technologies">
        </a>
  </div>
</div>

{% endblock mainlogo %} {% endcomment %}

{% block navbar %} 
<div class="row" style="background:#fff;">
  <div class="col-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {% comment %} <a class="" aria-current="page" style="height: auto; width: 12%;" href="/">
          <img src="{% static 'images/mainlogo.png' %}" class="card-img-top" style="" alt="Nexus Technologies">
        </a> {% endcomment %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'pollindex' %}">HOME</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'pollcreate' %}">CREATE</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'pollresultsall' %}">RESULT</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'userlogout' %}">LOG OUT</a></li>
          </ul>
          <form class="d-flex" action="pollsearch" method="GET" style="margin-right: 20px;">
            {% csrf_token %}
            <input class="form-control me-2" type="text" name="searchpoll" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
    </nav>
  </div>
</div>
{% endblock navbar %}


{% block mainblock %}
<div class="row" style="margin-top: 20px; background-color:#fff; padding: 10px;">
  <div class="col-12">
    
    <h3 style="padding: 0px; margin: 0px; font-family: 'Oswald', sans-serif;"><i class="fa-solid fa-arrow-right-long"></i> {{ uqchoice.question_text }}</h3>
    <span style="font-size:12px; margin-left: 36px;">{{user.username}} | {{ uqchoice.register_on }}</span>
  
    <ul class="list-group" style="margin-top: 20px;">
    <form action="" method="POST">
      {% csrf_token %}
    {% for cho in uqchoice.userchoice_set.all %}
        <li class="list-group-item">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="voteing" value="{{cho.id}}">
            <label class="form-check-label">{{cho.choice}}</label>
          </div>
        </li>
    {% empty %}
      <li class="list-group"><h5 style="font-family:sans-serif;">Polls isn't available.</h5></li>
    {% endfor %}
    </ul>

    <button type="submit" class="btn btn-primary btn-sm" style="margin-top: 20px; width: 100px; font-size: 17px; font-family: 'Oswald', sans-serif;">vote</button>
    </form>
    
    <ul class="nav justify-content-end">
    <li><a href="{% url 'pollprevious' uqchoice.id %}" class="btn btn-outline-primary btn-sm" role="button" style="margin-top: -63px; width: 90px; font-size: 17px; font-family: 'Oswald', sans-serif;">Previous</a></li>
    <li><a href="{% url 'pollnextpost' uqchoice.id %}" class="btn btn-outline-primary btn-sm" role="button" style="margin-top: -63px; margin-left: 10px; width: 90px; font-size: 17px; font-family: 'Oswald', sans-serif;">Next</a></li>
    </ul>
  </div>
</div>
{% endblock mainblock%}